<html>

<head>
	<title>Demo 01</title>

	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'login/styles/local.css' %}" />
</head>

<body style="text-align:center;">
		{% block center %}
		{% endblock center %}

	<div class="overlay">
		
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h2 class="Pokefont-out">Pokemon Grand Prix!</h2>
				</div>
				<div class="col-1"></div>
				<div class="col-2"><h3 class="Pokefont-classic">{{ request.user }}</h3></div>
				<div class="col-6"></div>
				<div class="col-2"></div>
				<div class="col-1"></div>

			</div>
			

	</div>
	<div class="row footermenu">
			<div class="col-12"></div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/103/three.min.js"></script>
	<script src="http://threejs.org/examples/js/loaders/GLTFLoader.js"></script>
	<script src="http://threejs.org/examples/js/loaders/ColladaLoader.js"></script>
	<script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
	{% block script %}
	{% endblock script %}
</body>

</html>