<!-- time for some merge conflicts -->
{% extends 'game_window/game.html' %}
{% load staticfiles %}
{% block center %}
<H1 id="countdown" class="Pokefont-out">GAME START</H1>
{% endblock center%}
{%block script %}

<script>
    var manager = new THREE.LoadingManager();
    var GameRoom = {{ game_id_json }};
    var GameSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/game/' + GameRoom + '/');

    GameSocket.addEventListener('open', function (e) {
        var user = "{{ request.user }}";
        // console.log(user)
        // console.log("printing user")
    })


    GameSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        if (data['position'] != 'NULL') {
            if (data['position'][2] != "{{ request.user.id }}") {
                var target = scene.getObjectByName("player-" + data['position'][2])
                //console.log(target.position.x)
                target.position.x = data['position'][0];
                target.position.z = data['position'][1];
                target.rotation.copy(data['position'][3]);

            }
        }
    };

    GameSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    var pokearray = [13, 19, 21];
    var scene
    var camera,
        renderer,
        mesh;
    var level;
    var ray, ray1, ray2, ray3, ray4, ray5, ray6, ray7, ray8
    var txloader = new THREE.TextureLoader();
    var Modelloader = new THREE.GLTFLoader();
    var meshFloor = new THREE.Mesh(
        new THREE.PlaneGeometry(5, 5, 5, 5),
        new THREE.MeshBasicMaterial({ color: 0xeeeeee })//, wireframe: USE_WIREFRAME })
    );
    var keyboard = {};
    var player = {
        height: 1.8,
        speed: 0.2,
        turnSpeed: Math.PI * 0.02
    };
    // var bbox;
    var ArrayPosition = [];
    var startPosition = [];
    var CurrentTile = [];
    var clock = new THREE.Clock();
    var playerarray = []
    var plains = [];
    var players = JSON.parse("{{ players|escapejs }}")
    for (x in players) {
        playerarray.push({
            'id': players[x]['fields']['user'],
            'pokemon': players[x]['fields']['riding']
        })
    }
    THREE.DefaultLoadingManager.onProgress = function (item, loaded, total) {
        console.log(item, loaded, total);
        if (loaded == total) {
            activeplayer = scene.getObjectByName("player-{{ request.user.id }}")
            camera = getCamera()
            // bbox = new THREE.Box3().setFromObject(colliders)
            animate()
            startGame()
        }
    };
    function startGame() {
        countDownDate = new Date().getTime();
        countdown = 1;

        var x = setInterval(function () {
            var now = new Date().getTime();
            GameSocket.send(JSON.stringify({
                'message': "GAME STARTING IN :" + countdown
            }));
            var distance = countDownDate - now;
            var countdownmessage = ["", "GO!", "1", "2", "3", ""];
            $('#countdown').html(countdownmessage[parseInt(countdown)]);
            console.log(countdownmessage)
            countdown -= 1;
            console.log(countdown);

            if (countdown < 0) {
                clearInterval(x)
                window.addEventListener('keydown', keyDown);
                window.addEventListener('keyup', keyUp);
            }
        }, 1000)
    }




    tarray = {
        1: "grass.png",
        2: "dirt.jpg",
        3: "startfinish.jpg",
        4: "grass.png",
        5: "dirt.jpg",
        6: "fence",
    }
    modelpath = {
        7: ["Zaun", [.1, .3, .05], "{% static '/game_window/images/models/fence/' %}", ["n", "n", -Math.PI / 2], .9],
        6: ["Zaun", [.1, .3, .05], "{% static '/game_window/images/models/fence/' %}", ["n", "n", "n"], .5],
        5: ["grass", [.05, .05, .05], "{% static '/game_window/images/models/tallgrass3/' %}", ["n", "n", "n"], 0],
        4: ["Treefbx", [.01, .009, .04], "{% static '/game_window/images/models/tree/' %}", ["n", "n", "n"], 0]
    }
    worldArray = [
        [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 6, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 6, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 6, 2, 2, 2, 2, 2, 2, 5, 5, 2, 2, 2, 2, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 2, 2, 2, 2, 5, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 2, 2, 2, 2, 2, 7, 7, 7, 1, 1, 2, 2, 1, 1, 5, 4, 4],
        [4, 4, 2, 2, 4, 1, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 6, 1, 2, 2, 1, 1, 5, 4, 4],
        [4, 4, 2, 2, 4, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 6, 1, 2, 2, 1, 1, 5, 4, 4],
        [4, 4, 2, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 5, 4, 4],
        [4, 4, 2, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 7, 2, 2, 7, 7, 7, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 6, 2, 2, 1, 1, 1, 5, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 6, 2, 2, 2, 2, 2, 2, 5, 5, 2, 2, 2, 2, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 1, 1, 4, 4, 4, 4, 1, 1, 1, 4, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 1, 1, 4, 4, 4, 4, 1, 1, 1, 6, 2, 2, 1, 1, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 2, 2, 1, 1, 6, 4, 4],
        [4, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 2, 2, 1, 1, 6, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 7, 7, 7, 7, 7, 7, 2, 2, 2, 2, 2, 2, 2, 6, 6, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 6, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 7, 7, 7, 7, 2, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 5, 2, 1, 1, 4, 4, 1, 1, 1, 4, 4, 1, 2, 2, 2, 2, 2, 6, 4, 4],
        [4, 4, 2, 2, 4, 5, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 1, 1, 7, 7, 4, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 1, 1, 1, 1, 1, 1, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
        [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
    ]
    function buildWorld() {
        var x = 0;
        var y = 0;
        for (var i = 0; i < worldArray.length; i++) {
            for (var j = 0; j < worldArray[i].length; j++) {
                if (worldArray[i][j] > 3) {
                    addPlane(tarray[worldArray[i][j]], txloader, x, y);
                    addModel('scene.gltf', x, y, modelpath[worldArray[i][j]][0]
                        , modelpath[worldArray[i][j]][1]
                        , modelpath[worldArray[i][j]][2]
                        , player = "NULL"
                        , modelpath[worldArray[i][j]][3])
                        , modelpath[worldArray[i][j]][4];
                    x += 20;
                } else {
                    addPlane(tarray[worldArray[i][j]], txloader, x, y);
                    if (worldArray[i][j] == 3) {
                        startPosition = [x, y]
                        CurrentTile = worldArray[i][j]
                    }
                    x += 20;
                }

            }
            x = 0;
            y += 20;
        }

    }

    function loadPlayers() {
        for (var i = 0; i < playerarray.length; i++) {
            var pokeid = (playerarray[i]['pokemon']);
            console.log(pokeid);

            addModel('scene.gltf', startPosition[0] + 5 - i * 6, startPosition[1], pokeid, [.6, .6, .6], "{% static '/game_window/images/bulby/'%}" + pokeid + "/", "player-" + playerarray[i]['id']);
        };

    };


    var terrain = [];
    function addModel(model, x, y, objname, scale, path, player = "NULL", rotation = ["n", "n", "n"], vertical) {

        Modelloader.setPath(path);
        Modelloader.load(model, function (gltf) {
            newobj = gltf.scene.getObjectByName(objname.toString(), true);
            newobj.position.x = x;
            // if (objname == "grass") {
            //     plains.push(newobj)
            // }
            newobj.scale.set(scale[0], scale[1], scale[2]);
            if (player != "NULL") {
                newobj.name = player;
                newobj.rotation.x -= Math.PI / 2;
                newobj.rotation.z -= Math.PI / 2;
                newobj.position.z = -y;

                // var geometry = new THREE.BoxGeometry(1, 1, 1);
                // var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
                // material.visible = true;
                // rayCubeRR = new THREE.Mesh(geometry, material);
                // rayCubeRR.position.x -= 6;
                // rayCubeRR.position.y -= 2;
                // rayCubeRR.position.z += 1;
                // newobj.add(rayCubeRR);
                // ray1 = new THREE.Raycaster();
                // ray1.set(rayCubeRR.position, new THREE.Vector3(-1, 0, 0));
                // ray2 = new THREE.Raycaster();
                // ray2.set(rayCubeRR.position, new THREE.Vector3(0, -1, 0));
                // rayCubeRR.add(ray1);
                // rayCubeRR.add(ray2);

                // var geometry = new THREE.BoxGeometry(1, 1, 1);
                // var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
                // material.visible = true;
                // rayCubeLR = new THREE.Mesh(geometry, material);
                // rayCubeLR.position.x -= 6;
                // rayCubeLR.position.y += 2;
                // rayCubeLR.position.z += 2;
                // newobj.add(rayCubeLR);
                // ray3 = new THREE.Raycaster();
                // ray3.set(rayCubeLR.position, new THREE.Vector3(-1, 0, 0));
                // ray4 = new THREE.Raycaster();
                // ray4.set(rayCubeLR.position, new THREE.Vector3(0, 1, 0));
                // rayCubeLR.add(ray3);
                // rayCubeLR.add(ray4);

                // var geometry = new THREE.BoxGeometry(1, 1, 1);
                // var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
                // material.visible = true;
                // rayCubeFL = new THREE.Mesh(geometry, material);
                // rayCubeFL.material.transparent = true;
                // rayCubeFL.position.x += 6;
                // rayCubeFL.position.y += 2;
                // rayCubeFL.position.z += 1;
                // newobj.add(rayCubeFL);
                // ray5 = new THREE.Raycaster();
                // ray5.set(rayCubeFL.position, new THREE.Vector3(1, 0, 0))
                // ray6 = new THREE.Raycaster();
                // ray6.set(rayCubeFL.position, new THREE.Vector3(0, 1, 0))
                // rayCubeFL.add(ray5);
                // rayCubeFL.add(ray6);

                // var geometry = new THREE.BoxGeometry(1, 1, 1);
                // var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
                // material.visible = true;
                // rayCubeFR = new THREE.Mesh(geometry, material);
                // rayCubeFR.material.transparent = true;
                // rayCubeFR.position.x += 6;
                // rayCubeFR.position.y -= 2;
                // rayCubeFR.position.z += 1;
                // newobj.add(rayCubeFR);
                // ray7 = new THREE.Raycaster();
                // ray7.set(rayCubeFR.position, new THREE.Vector3(1, 0, 0))
                // ray8 = new THREE.Raycaster();
                // ray8.set(rayCubeFR.position, new THREE.Vector3(0, -1, 0))
                // rayCubeFR.add(ray7);
                // rayCubeFR.add(ray8);


                scene.add(newobj)
            } else {
                if (rotation[0] != "n") {
                    newobj.rotation.x -= rotation[0]
                }
                if (rotation[1] != "n") {
                    newobj.rotation.y -= rotation[1]
                }
                if (rotation[2] != "n") {
                    newobj.rotation.z -= rotation[2]
                }

                newobj.position.y = y;
                meshFloor.add(newobj)
            }

        })
    }

    var colliders = new THREE.Group();
    meshFloor.add(colliders)
    function addPlane(texture, loader = txloader, x, y) {
        loader.setPath("{% static '/game_window/images/textures/'%}")
        var texture = loader.load(texture);
        texture.wrapS = texture.wrapT = THREE.RepeatWrapping;
        texture.repeat.set(3, 3);
        var material = new THREE.MeshBasicMaterial({
            map: texture, side: THREE.DoubleSide
        });
        var geometry = new THREE.PlaneGeometry(20, 20, 20, 20);
        var plane = new THREE.Mesh(geometry, material);
        plane.position.z = .1;
        plane.position.x = x;
        plane.position.y = y;
        // if (texture == "dirt.png" || texture == "startfinish.jpg") {
        //     plains.push(
        //         {}
        //     );
        //     //console.log(plane.position.x)
        // }
        //plane.rotation.x = Math.PI / 2;

        if (texture == "grass.png" || texture == "fence") {
            colliders.add(plane)
        } else {
            meshFloor.add(plane);
        }
    }
    function getCamera() {
        var aspectRatio = window.innerWidth / window.innerHeight;
        var camera = new THREE.PerspectiveCamera(75, aspectRatio, 0.1, 2000);
        camera.position.set(0, 150, 400);
        camera.lookAt(scene.position);
        return camera;
    }

    function moveCamera() {
        var relativeCameraOffset = new THREE.Vector3(-25, 0, 9);
        var cameraOffset = relativeCameraOffset.applyMatrix4(activeplayer.matrixWorld);
        camera.position.x = cameraOffset.x;
        camera.position.y = cameraOffset.y;
        camera.position.z = cameraOffset.z;
        camera.lookAt(activeplayer.position);
    }
    // function checkForHit() {
    //     var hit1 = ray1.intersectObjects(colliders);
    //     var hit2 = ray2.intersectObjects(colliders);
    //     var hit3 = ray3.intersectObjects(colliders);
    //     var hit4 = ray4.intersectObjects(colliders);
    //     var hit5 = ray5.intersectObjects(colliders);
    //     var hit6 = ray6.intersectObjects(colliders);
    //     var hit7 = ray7.intersectObjects(colliders);
    //     var hit8 = ray8.intersectObjects(colliders);

    //     console.log(hit1);
    // }

    function init() {

        renderer = new THREE.WebGLRenderer();
        renderer.setSize(1280, 720);
        document.body.appendChild(renderer.domElement);

        scene = new THREE.Scene();
        var light = new THREE.SpotLight(0xF9FCFF);
        light.position.set(0, 1000, 0);
        scene.add(light);
        var amb_light = new THREE.AmbientLight(0xF9FCFF, 1);
        scene.add(amb_light);
        // var boxGeo = new THREE.BoxGeometry(3000,3000,3000);
        // var boxMat = new THREE.MeshBasicMaterial({color: 0x8bd6f8,side:THREE.BackSide});
        // var skyBox = new THREE.Mesh(boxGeo,boxMat)


        // meshFloor.add(skyBox);
        meshFloor.rotation.x -= Math.PI / 2; // Rotate the floor 90 degrees
        scene.add(meshFloor);
        buildWorld();
        loadPlayers()
        //alert(terrain)
        //alert(plains)

    };
    // function checkValidMovement()
    //     if (ArrayPosition[0])

    // function getLocalTiles(i, j) {
    //     ArrayPosition = [
    //         { "valid": worldArray[i][j], "y": i, "x": j, "ymin": (i * 20) - 10, "ymax": (i * 20) + 10, "xmin": (j * 20) - 10, "xmax": (j * 20) + 10 },
    //         { "valid": worldArray[i - 1][j], "y": i - 1, "x": j, "ymin": ((i - 1) * 20) - 10, "ymax": ((i - 1) * 20) + 10, "xmin": (j * 20) - 10, "xmax": (j * 20) + 10 },
    //         { "valid": worldArray[i + 1][j], "y": i + 1, "x": j, "ymin": ((i + 1) * 20) - 10, "ymax": ((i + 1) * 20) + 10, "xmin": (j * 20) - 10, "xmax": (j * 20) + 10 },
    //         { "valid": worldArray[i][j - 1], "y": i, "x": j - 1, "ymin": (i * 20) - 10, "ymax": (i * 20) + 10, "xmin": ((j - 1) * 20) - 10, "xmax": ((j - 1) * 20) + 10 },
    //         { "valid": worldArray[i][j + 1], "y": i, "x": j + 1, "ymin": (i * 20) - 10, "ymax": (i * 20) + 10, "xmin": ((j + 1) * 20) - 10, "xmax": ((j + 1) * 20) + 10 }]
    // }

    // function checkPosition(){

    // }

    function movePlayer() {
        var delta = clock.getDelta();
        var moveDistance = 40 * delta;
        var rotateAngle = Math.PI / 2 * delta;
        // var xplus = activeplayer.position.x + moveDistance;
        // var zplus = activeplayer.position.z + moveDistance;
        // var xmin = activeplayer.position.x - moveDistance;
        // var zplus = activeplayer.position.z - moveDistance;

        if (keyboard[87]) { // W 

            //     if (xplus >= ArrayPosition[0]['xmax']) {
            //         if (ArrayPosition[2]['valid'] == 2 || ArrayPosition[2]['valid'] == 3 || ArrayPosition[2][valid] == 5){
            //             activeplayer.translateX(moveDistance)
            //         }
            //     }
            // }

            activeplayer.translateX(moveDistance)

        }
        if (keyboard[83]) { // S key

            activeplayer.translateX(-moveDistance)
        }

        var rotation_matrix = new THREE.Matrix4().identity();
        if (keyboard[65]) { // A keyad

            activeplayer.rotateOnAxis(new THREE.Vector3(0, 0, 1), rotateAngle);
            camera.rotation.y -= player.turnSpeed;
        }
        if (keyboard[68]) { // D key
            activeplayer.rotateOnAxis(new THREE.Vector3(0, 0, 1), -rotateAngle);
            camera.rotation.y += player.turnSpeed;
        }

        // Keyboard turn inputs
        if (keyboard[37]) { // left arrow key
            camera.rotation.y -= player.turnSpeed;
        }
        if (keyboard[39]) { // right arrow key
            camera.rotation.y += player.turnSpeed;
        }

        if (keyboard[32]) {
            console.log("x is " + activeplayer.position.x + "- y is " + activeplayer.position.z)
            console.log(ArrayPosition)
            //     spawnPoke(activeplayer.position.x, activeplayer.position.z)
        }

        var rot = activeplayer.rotation
        var pos = [activeplayer.position.x, activeplayer.position.z, "{{request.user.id}}", rot]
        //console.log(pos)

        GameSocket.send(JSON.stringify({
            'position': pos
        }));
    }





    function spawnPoke(x, z) {
        id = pokearray[Math.floor(Math.random() * 3)]
        console.log(id)
        addModel('scene.gltf', x, z, id, [.3, .3, .3], "{% static '/game_window/images/bulby/'%}" + id + "/", "Spawn" + Math.floor(Math.random() * 1000))
    }





    function animate() {

        requestAnimationFrame(animate);
        renderer.render(scene, camera);
        // checkForHit();
        movePlayer()
        moveCamera()

    }

    function keyDown(event) {
        keyboard[event.keyCode] = true;
    }

    function keyUp(event) {
        keyboard[event.keyCode] = false;
    }

    window.onload = init;

</script>
{% endblock script %}